@model smartGadgetsStore.Models.CartItem

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CartItem</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ImageURL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ImageURL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AddedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AddedAt)
            </dd>
            <dt class="col-sm-2">
                TotalPrice
            </dt>
            <dd class="col-sm-10">
                @(Model.Product.Price * Model.Quantity)
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CartItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
